<app-navbar></app-navbar>
<div class="wrap">
  <h1>Update Contact</h1>
  <label>Name :</label>
  <input type="text" [(ngModel)]="name" [ngModel]="contact?.name" />
  <label for="age">Age : </label>
  <input name="age" type="number" [(ngModel)]="age" [ngModel]="contact?.age" />
  <label for="birthday">Birthday : </label>
  <input
    type="date"
    name="birthday"
    [(ngModel)]="dateOfBirth"
    [ngModel]="contact?.dateOfBirth"
  />
  <label for="isLikeCold">is Like Cold :</label>
  <input
    name="isLikeCold"
    type="checkbox"
    [(ngModel)]="isLikeCold"
    [ngModel]="contact?.isLikeCold"
  />
  <input
    type="button"
    value="Save"
    class="editBtn"
    (click)="saveContact()"
    (click)="gotoContacts()"
  />
</div>
<!--    [(ngModel)]="name"
    (ngModelChange)="name = $event" -->
