.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 450px;
  padding: 20px;
  margin: 4px;
}
input {
  width: 200px;
  border: 2px solid;
}
label {
  color: purple;
  margin-top: 14px;
  font-size: 18px;
  margin-bottom: 10px;
}
.editBtn {
  margin-top: 20px;
  background-color: blue;
  text-align: center;
  width: 50px;
  padding: 3px;
}
