.add-contact-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 20px;
  margin: 4px;
}
input {
  width: 200px;
  border: 2px solid;
}
label {
  font-size: 18px;
  color: blue;
  margin-top: 14px;
  margin-bottom: 10px;
}
.like-cold-field {
  margin-top: -25px;
  margin-left: 120px;
}
.addBtn {
  margin-top: 20px;
  background-color: rgb(153, 163, 240);
  text-align: center;
  padding: 3px;
}
