<div class="wrap-nav">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="activebutton"
          class="contacts-link"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/contacts"
          routerLinkActive="activebutton"
          class="contacts-link"
          >Contacts List</a
        >
      </li>
      <li>
        <a
          routerLink="/addContact"
          routerLinkActive="activebutton"
          class="contacts-link"
          >Add</a
        >
      </li>
      <li>
        <a
          routerLink="/updateContact"
          routerLinkActive="activebutton"
          class="contacts-link"
          >Update</a
        >
      </li>
    </ul>
  </nav>
</div>
